.recovery-btn {
  border-radius: 25px;
  padding: 0px;
  width: 25rem;
  height: 6rem;
  max-width: 500px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
}
.recovery-btn button {
  font-size: 2rem;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  transform: none !important;
}

.recovery-btn button:active {
  transform: none !important;
  top: 0 !important;
  left: 0 !important;
}