.card {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  gap: 10px; /* 텍스트와 이미지 사이 간격 */
  justify-content: flex-start;
  text-align: right;
}

.card img {
  margin-right: auto;  /* 이미지를 오른쪽 끝으로 밀기 */
  width: 2rem;
  height: 2rem;
}
